:root {
  --app-theme-color: #ffffff;
  --text-color: #5e5e5e;
  --para-color: #414141;
  --project-card-color: #f2f8fa;
  --project-card-hover-color: #c0c0c0;
  --project-about-color: #474747;
  --tech-topic-color: #005d6d;
  --tech-topic1-color: #187eb9;
  --footer-color: #212121;
  --footer-message-color: #ffffff;
  --footer-social-color: #e9e9e9;
  --social-color: #51bcff;
  --empty-color: #c5c5c5;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
}

.header-link {
  color: var(--text-color);
  text-decoration: none;
  text-transform: capitalize;
  padding: 0 .5em;
}

.header-container,
.empty-header {
  background-color: var(--app-theme-color);
}

.header,
.empty-header {
  display: flex;
  padding: 0 7em;
}

.header-icon-container {
  display: flex;
  margin-right: .5em;
  flex-direction: column;
  justify-content: center;
}

.avatar,
.empty-circle {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}

.empty-circle {
  background-color: var(--empty-color);
  margin-right: 1em;
  margin-top: 1em;
}

.empty-line-container {
  display: flex;
  flex-grow: 1;
  margin-top: 1em;
  flex-direction: column;
  justify-content: center;
}

.empty-line {
  height: 1em;
  margin: .5em 0;
  border-radius: 2em;
  background-color: var(--empty-color);
}

.header-app-name-container {
  flex-grow: 1;
}

.header-app-name {
  text-transform: capitalize;
  font-size: 2rem;
}

.header-option-container,
.header-app-name-container {
  padding: 1em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-flag {
  display: none;
}

.flag {
  height: 3em;
  width: 3em;
}

.social-icon {
  height: 2em;
  width: 2em;
}

.social {
  text-decoration: none;
  color: var(--footer-social-color);
}

/* body */
.body-container {
  padding: 2em;
}

.intro-section-container {
  text-align: center;
  padding: .5em;
  width: 60%;
  margin: auto;
}

.heading {
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: .2em;
}

.intro-paragraph {
  color: var(--para-color);
  font-size: 1.05rem;
  line-height: 1.5;
}

/* project section */
.section-container {
  padding: 2em 5em;
}

.slider-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 1em 0em;
  padding-bottom: .5em;
  overflow: auto;
  justify-content: space-evenly;
}

.project-card-container {
  flex: 0 0 auto;
  width: 22em;
  border-radius: .5em;
  background-color: var(--project-card-color);
}

.project-card-container:hover {
  cursor: pointer;
  width: 22.05em;
  transition: .2s;
  box-shadow: .3em .2em 2em var(--project-card-hover-color);
}

.project-thumbnail {
  border-radius: .5em .5em 0 0;
  width: 100%;
  height: 13em;
}

.empty-project-thumbnail {
  border-radius: .5em .5em 0 0;
  width: 100%;
  height: 13em;
  background-color: var(--empty-color);
}

.project-name {
  color: var(--project-about-color);
  margin-bottom: .2em;
}

.projection-about-container {
  color: var(--project-about-color);
  font-size: .9rem;
  word-spacing: 5px;
  max-height: 25em;
  padding: 1em;
  padding-bottom: 1.5em;
}

.project-description {
  margin-top: .5em;
  width: 100%;
  height: 11em;
}

.project-topic-container {
  display: flex;
  flex-wrap: wrap;
}

.tech-topic {
  box-sizing: border-box;
  color: var(--tech-topic-color);
  font-size: .9rem;
  border: 1px solid var(--tech-topic-color);
  border-radius: 2em;
  padding: .5em;
  margin: .2em;
}

/* skills section */
.section-skills-container {
  justify-content: space-around;
  padding: 5em;
}

.skills-container {
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
  margin: 1em 0em;
}

.skill-container {
  width: 15em;
  padding-bottom: .5em;
  margin: 0 1em;
}

.skill-heading {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: capitalize;
}

.skill-list {
  padding: 1em 1.5em;
}

.skill {
  color: var(--project-about-color);
  line-height: 2;
  text-transform: capitalize;
}

/* footer */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  background-color: var(--footer-color);
  width: 100%;
  min-height: 20vh;
}

.footer {
  justify-content: space-around;
  display: flex;
  padding: 2em 7em;
}

.social-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: .5em;
}

.email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--footer-message-color);
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width:720px) {
  .header {
    padding: 0 1em;
  }

  .avatar {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
  }

  .header-app-name {
    font-size: 1.8rem;
  }

  .header-option {
    display: none;
  }

  .header-flag {
    display: block;
  }

  .flag {
    height: 2.5em;
    width: 2.5em;
  }

  .body-container {
    padding: 0em;
  }

  .intro-section-container {
    padding: 1em;
    width: 100%;
  }

  .intro-paragraph {
    margin-top: .5em;
    line-height: 1;
  }

  .section-container {
    padding: 1em;
  }

  .slider-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: auto;
    justify-content: space-between;
  }

  .project-card-container {
    margin-right: .5em;
    width: 17em;
    max-height: 26em;
  }

  .project-thumbnail {
    width: 100%;
    height: 11em;
  }

  .project-description {
    font-size: .9rem;
    overflow-y: scroll;
    width: 100%;
    height: 7em;
    text-align: justify;
  }

  .project-topic-container {
    font-size: .9rem;
    overflow-y: scroll;
    width: 100%;
    height: 4.5em;
    text-align: justify;
  }

  .tech-topic {
    padding: .2em .4em;
    margin: .2em;
  }

  .skill-container {
    min-width: 10em;
    margin-left: 0em;
  }

  .footer {
    padding: 1em;
    flex-wrap: wrap;
    margin: auto;
  }

  .flex-container {
    margin-bottom: .5em;
  }

  .social-icon {
    height: 1.5em;
    width: 1.5em;
  }

  .social {
    font-size: .9rem;
  }

  .email-container {
    font-size: 14px;
    margin-top: 1em;
  }

  .footer-flag {
    display: none;
  }
}